* {
	box-sizing: border-box;
	margin: 0;
    outline: none;
}
body {
    overflow-x: hidden;
    background: url('img/library.jpg');
    background-size: cover;
    font-size: 16px;
    height: 100%;	
}